@charset "UTF-8";
/* line 5, ../sass/base.scss */
html {
  height: 100%;
}

/* line 9, ../sass/base.scss */
body {
  padding: 70px 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif";
  font-size: 12px;
}

/* line 17, ../sass/base.scss */
.container-liquid {
  padding: 0 15px;
}

/* line 21, ../sass/base.scss */
.memo-controller {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
/* line 26, ../sass/base.scss */
.memo-controller .nav-tabs {
  margin-bottom: 15px;
}
/* line 30, ../sass/base.scss */
.memo-controller .editor {
  background-color: #333;
  min-height: 100px;
  color: #fefefe;
  font-size: 11px;
  resize: vertical;
}

/* line 40, ../sass/base.scss */
.toolbar-controller .navbar-btn {
  margin-right: 15px;
}
/* line 43, ../sass/base.scss */
.toolbar-controller .navbar-btn.navbar-right {
  margin-right: 0;
  margin-left: 15px;
}
