@charset "UTF-8";
/* line 5, ../sass/base.scss */
html {
  height: 100%;
}

/* line 9, ../sass/base.scss */
body {
  padding: 70px 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', メイリオ, 'sans-serif';
  font-size: 12px;
  -webkit-user-select: text;
  user-select: text;
}

/* line 19, ../sass/base.scss */
.container-liquid {
  padding: 0 15px;
}

/* line 23, ../sass/base.scss */
.memo-controller {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
/* line 28, ../sass/base.scss */
.memo-controller .marked-area {
  line-height: 16px;
}
/* line 30, ../sass/base.scss */
.memo-controller .marked-area strong {
  color: #D2322D;
}
/* line 33, ../sass/base.scss */
.memo-controller .marked-area li {
  padding: 4px 0;
}
/* line 36, ../sass/base.scss */
.memo-controller .marked-area p, .memo-controller .marked-area li {
  cursor: text;
}
/* line 41, ../sass/base.scss */
.memo-controller .nav-tabs {
  margin-bottom: 15px;
}
/* line 45, ../sass/base.scss */
.memo-controller .editor {
  background-color: #333;
  min-height: 100px;
  color: #fefefe;
  font-size: 12px;
  resize: vertical;
}

/* line 55, ../sass/base.scss */
.toolbar-controller .navbar-btn {
  margin-right: 15px;
}
/* line 58, ../sass/base.scss */
.toolbar-controller .navbar-btn.navbar-right {
  margin-right: 0;
  margin-left: 15px;
}
